body{
    background-image: linear-gradient(to right, #FEDEC9, #FFBEB8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin:auto;   
    text-align: center;
}

.photo{
    border: 1px solid palevioletred;
    border-radius: 50%; 
    position: absolute;
    left:400px;
    top:20px;
}
#title, .subtitle, .post_title {
    color: palevioletred;
    
}

#title{
font-size: 40px;
text-transform: uppercase;
margin-top: 50px;
margin-bottom: 50px;
}

.a{
    text-decoration:underline;
    color: palevioletred;
    
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px; 
}

.post{
    background-color: white;
    padding: 10px;
    border: 3px solid gainsboro;
    margin-top: 15px;
    border-radius:10px;
  
}
.list{
    list-style-type:none;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform:capitalize;
}

.post_image{
    margin-bottom: 15px;
    border-radius:10px;
    width: 100%;
}
.contacts_list {
    list-style-type:none;
    padding-left: 10px;
    text-align: left;
}